<?xml version="1.0"?>

<model>
  <name>Homeostasis Enabling Wheel</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Jeremy Epps</name>
    <email>jeremy.epps@gatech.edu</email>
  </author>

  <maintainer email="jeremy.epps@gatech.edu">Jeremy Epps</maintainer>


  <description>
    Homestasis Enabling Wheel
  </description>
</model>
